<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class=content-container>
    <div class="container-lg px-3 my-5 markdown-body">

      {{ content }}

    </div>
    </div>
    {% include footer.html %}
    {% if site.google_analytics %}
        {% include googleanalytics.html %}
    {% endif %}
  </body>
</html>
