---
layout: default
---

<h1>Proposals</h1>

<h2>Active</h2> 

<ul>
{% for proposal in site.proposals %}
{% if proposal.subgroup == page.subgroup %}
{% if proposal.category == "active" %}
  <li>
    <a href="{{ proposal.url | relative_url  }}">{{ proposal.title }}</a> ({{ proposal.authors }})
    <em>{{ proposal.excerpt }} </em>
  </li>
{% endif %}
{% endif %}
{% endfor %}
</ul>

<h2>Completed</h2>

<ul>
{% for proposal in site.proposals %}
{% if proposal.subgroup == page.subgroup %}
{% if proposal.category == "completed" %}
      <li>
        <a href="{{ proposal.url | relative_url  }}">{{ proposal.title }}</a> ({{ proposal.authors }})
        <em>{{ proposal.excerpt }} </em>
      </li>
{% endif %}
{% endif %}
{% endfor %}
</ul>

<h2>Suggested</h2>

<ul>
{% for proposal in site.proposals %}
{% if proposal.subgroup == page.subgroup %}
{% if proposal.category == "suggested" %}
      <li>
        <a href="{{ proposal.url | relative_url  }}">{{ proposal.title }}</a> ({{ proposal.authors }})
        <em>{{ proposal.excerpt }} </em>
      </li>
{% endif %}
{% endif %}
{% endfor %}
</ul>

<h2>Minutes</h2>

<ul>
  {% for minute in site.minutes %}
  {% if minute.subgroup == page.subgroup %}
  <li>
    <a href="{{ minute.url | relative_url  }}">{{ minute.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>